[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[ja_JP]=/home/h-kamada/env/PowerOff.png
Name[ja_JP]=poweroff
Exec=/bin/bash -i -c ". /home/h-kamada/env/terminate.sh"
Name=poweroff
Icon=/home/h-kamada/env/PowerOff.png